
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'


*,
*::before,
*::after
  box-sizing: border-box


img
  max-width: 100%

.response-form-container
  text-align: center
  padding-top: 50px

.add-button
  margin-top: 20px
  height: 60px
  width: 120px
  background-color: rgb(79, 178, 250)
.add-button.btn-success
  background-color: #5cb85c
